.intro {
  padding: 5em 5em;
}

.name {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 35px;
  color: #343a40;
}

.name-desc {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 25px;
  color: #343a40;
  display: flex;
  flex-direction: column;
}

.desc-comp {
  padding-left: 0rem;
  color: #3E92CC;
}

.profile {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.aboutme {
  display: flex;
  flex-direction: column;
}

.aboutbox {
  background-color: #e7ecef;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 1rem;
  font-size: 20px;
}

.profilephoto {
  margin: 0, auto;
  pointer-events: none;
  width: 50%;
}

.contactme {
  display: flex;
  flex-direction: column;
}

.contact {
  padding-left: 0.25rem;
  color: #3E92CC;
  text-decoration: underline;
}

.contactlist {
  display: flex;
  flex-direction: column;
}